@charset "utf-8";
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Noto+Sans+KR&family=Public+Sans&display=swap');

/* reset */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
a {color: inherit; text-decoration: inherit;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

li {list-style: none;}

/* 영어폰트 */
.en {font-family: 'Public Sans', sans-serif;}
.en2 {font-family: 'Cormorant Infant', serif;}

/* Layout */
body {font-family: 'Noto Sans KR', sans-serif; font-size: 16px; line-height: 1.6;}
.wrap {position: relative; margin: 0 auto; overflow: hidden; background: #000; color: #fff;}

/* header */
header {width: 100%; position: fixed; left: 0; top:0; background: rgba(0,0,0,0.5); z-index: 100; padding: 30px 60px; box-sizing: border-box; display: flex; justify-content: space-between;}
header.active {transform: translateY(-100%);}
header .logo {color: #fff;}
header .menuOpen {display: none; transition: 0.3s;}
.gnb ul {display: flex; justify-content: space-between;}
.gnb ul li {margin-left: 70px;}
.gnb ul li a {display: block;}

/* gnb */
.gnb ul li a .char {display: inline-block; position: relative; color:transparent; overflow: hidden;}
.gnb ul li a .char:before, .gnb ul li a .char:after {position: absolute; top:0; left:0; opacity: 0.6; color:#fff; content:attr(data-char); transition: transform 0.35s; transition-delay: calc(30ms * var(--char-index));}
.gnb ul li a .char:before {transform: translateY(100%);}
.gnb ul li a:hover .char:before {transform: translateY(0%); opacity: 1;}
.gnb ul li a:hover .char:after {transform: translateY(-100%);}

/* visual */
.visual {width: 100%; height: 100vh; padding-top: 125px; box-sizing: border-box; position: relative; letter-spacing: -1px;}
.visual .mainText {font-size: 140px; font-weight: 400; line-height: 1.2; margin: 0px 0px 150px 60px; display: inline-block;}
.visual .mainText p {overflow: hidden;}
.visual .subText {margin-left: 20%;}
.visual .scroll {position: fixed; left: 60px; bottom: 40px;}
.visual .svgAni {position: absolute; right:-2%; top:9%; width: 55%; transform:rotate(-10deg);}

/* animation */
@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top left;}
}

.visual.motion .mainText {transform: translate3d(0,0,0) skewY(0deg); overflow:hidden;}
.visual.motion .mainText p span {display: block; animation-name: textAni; animation-duration: 1.8s;}

/* section.con01 */
.con01 .videoWrap video {width:100vw; height: 100vh; object-fit: cover; position: absolute; left: 0; top:0;}
.con01 {width:100vw; height:100vh; position: relative;}
.con01 .title {position: absolute; width: 100%; text-align: center; left: 0; top:50%; transform: translateY(-50%); color: #fff;}
.con01 .title h2 {font-size: 80px; font-weight: 400; letter-spacing: -1px; line-height: 1.2;}

/* footer */
footer {width: 100%; position: relative; height: 100vh;}
footer .textwrap {position: absolute; width: 100%; top: 30%; padding: 0 60px; box-sizing: border-box; font-size: 160px; line-height: 1; letter-spacing: -1px;}
footer .textwrap .title {font-size: 20px; margin-bottom: 30px; padding-left: 15px;}
footer .bottom {position: absolute; bottom:5%; width: 100%; display: flex; justify-content: space-between; padding: 0 60px; box-sizing: border-box; font-size: 30px; letter-spacing: -1px;}
footer .bottom .sns {display: flex;}
footer .bottom .sns li {margin-right: 30px;}
