html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, q, s, samp, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li, video, select, header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Malgun Gothic", dotum, gulim, verdana, sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  overflow-x: hidden;
}

th, td {
  padding: 0;
}

img {
  vertical-align: top;
}

ul, li {
  list-style: none;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

em {
  font-style: normal;
  color: inherit;
  font-size: inherit;
}

:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 89px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  margin: 0 auto;
  color: #fff;
  height: 100%;
}
header .inner nav {
  flex: 1;
  margin: 0 20px;
}
header .inner nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .inner .btns a {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 28px;
  font-size: 13px;
  background-color: transparent;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}
header .inner .btns form {
  display: inline-block;
}
header .inner .btns form input {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 12px;
  padding: 5px 20px;
  background-color: rgba(140, 149, 151, 0.5);
  border: 0;
  border-radius: 20px;
  margin-right: 10px;
  color: #bbb;
}
header .inner .btns form button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(./images/h_search.png) no-repeat;
  background-size: contain;
  margin-top: 4px;
  overflow: hidden;
  text-indent: -999px;
}
header .inner .lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 12px;
  margin-left: 20px;
}
header .inner .lang li {
  position: relative;
  padding: 0 10px;
}
header .inner .lang li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  width: 1px;
  height: 10px;
  background-color: #fff;
}

#menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  width: 140px;
}
#menu li {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#menu li a {
  display: block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-right: 73px;
  color: #96cc29;
  font-size: 15px;
  text-align: right;
  overflow: hidden;
}
#menu li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 42px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
#menu li a span {
  position: relative;
  left: -300px;
  transition: all 0.3s ease-in;
}
#menu li.active a:after {
  right: 40px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border: 2px solid rgb(150, 204, 41);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
}
#menu li.active a span {
  left: 0;
}

.btn_down {
  position: fixed;
  left: 50%;
  bottom: 3vh;
  z-index: 100;
  transform: translateX(-50%);
  animation: scroll 1.3s infinite;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
#fullpage .cont01 {
  position: relative;
}
#fullpage .cont01 .swiper {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#fullpage .cont01 .swiper .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  padding-top: 32vh;
  letter-spacing: -0.03em;
}
#fullpage .cont01 .swiper .swiper-slide:nth-child(1) {
  background-image: url(./images/main_visual_01_01.jpg);
}
#fullpage .cont01 .swiper .swiper-slide:nth-child(2) {
  background-image: url(./images/main_visual_01_02.jpg);
}
#fullpage .cont01 .swiper .swiper-slide:nth-child(3) {
  background-image: url(./images/main_visual_01_03.jpg);
}
#fullpage .cont01 .swiper .swiper-slide:nth-child(4) {
  background-image: url(./images/main_visual_01_04.jpg);
}
#fullpage .cont01 .swiper .swiper-slide div:nth-child(1) {
  transform: translateY(50px);
  opacity: 0;
  font-size: 80px;
  line-height: 90px;
  transition: all 0.45s ease-in-out;
}
#fullpage .cont01 .swiper .swiper-slide div:nth-child(1) span {
  display: block;
  font-size: 25px;
  text-align: center;
}
#fullpage .cont01 .swiper .swiper-slide div:nth-child(2) {
  transform: translateY(-50px);
  opacity: 0 !important;
  margin-top: 25px;
  opacity: 0.6;
  text-align: center;
  transition: all 0.45s ease-in-out;
}
#fullpage .cont01 .swiper .swiper-slide-active div:nth-child(1) {
  transform: translateY(0px);
  opacity: 1;
}
#fullpage .cont01 .swiper .swiper-slide-active div:nth-child(2) {
  transform: translateY(0px);
  opacity: 1 !important;
}
#fullpage .cont01 .swiper .swiper-pagination {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 145px;
  height: auto;
  margin: 0 15px;
  background-color: transparent;
  opacity: 0.5;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet .bar {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #fff;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet .bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  transform-origin: 0 0;
  background: #fff;
  transition: width 10s linear;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet p {
  margin-top: 27px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  word-break: keep-all;
  text-align: left;
  letter-spacing: 0.01em;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet:hover .bar {
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet:hover .bar:after {
  display: none;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet:hover p {
  opacity: 1;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet-active .bar {
  background-color: transparent;
  border: 1px solid #fff;
}
#fullpage .cont01 .swiper .swiper-pagination .swiper-pagination-bullet-active .bar:after {
  width: 145px;
  background-color: #fff;
}
#fullpage .cont02 {
  height: 100vh;
  background: url(./images/main_visual_02.jpg) no-repeat 50% 50%;
}
#fullpage .cont02 .cont {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  color: #fff;
  margin: 18vh auto 0;
}
#fullpage .cont02 .cont > div {
  width: 50%;
}
#fullpage .cont02 .cont .box {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
}
#fullpage .cont02 .cont .box strong {
  display: block;
  width: 140px;
  height: 54px;
  line-height: 52px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 17px;
  background-color: #000;
  margin-bottom: 33px;
  text-align: center;
}
#fullpage .cont02 .cont .count_area {
  padding-top: 60px;
}
#fullpage .cont02 .cont .count_area .count {
  color: #fff;
  font-size: 75px;
  font-family: "roboto";
  letter-spacing: 3px;
}
#fullpage .cont02 .cont .count_area .count + div {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  opacity: 0.4;
}
#fullpage .cont03 {
  position: relative;
  background: url(./images/main_visual_03.jpg) no-repeat 50% 50%;
  color: #fff;
}
#fullpage .cont03 .top_cont {
  position: relative;
  width: 100%;
  height: 60vh;
  padding-top: 15vh;
  text-align: center;
  color: #fff;
  font-size: 66px;
  font-weight: 300;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s ease-in;
}
#fullpage .cont03 .top_cont span {
  display: block;
  margin-top: 25px;
  font-weight: 500;
}
#fullpage .cont03 .top_cont a {
  display: inline-block;
  width: 200px;
  height: 54px;
  line-height: 54px;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  text-align: center;
}
#fullpage .cont03 .top_cont p {
  margin-top: 25px;
  color: #fff;
  font-size: 15px;
  opacity: 0.5;
}
#fullpage .cont03 .btm_cont {
  position: relative;
  width: 100%;
  height: 40vh;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.3);
}
#fullpage .cont03 .btm_cont > div {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#fullpage .cont03 .btm_cont > div .year {
  display: inline-block;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  font-family: "roboto";
}
#fullpage .cont03 .btm_cont > div .year strong {
  font-weight: bold;
}
#fullpage .cont03 .btm_cont > div .year span {
  position: relative;
  top: -10px;
  color: #fff;
  font-size: 35px;
  line-height: 90px;
}
#fullpage .cont03 .btm_cont > div .txt {
  color: #fff;
  font-size: 35px;
  line-height: 90px;
}
#fullpage .cont03.active .top_cont {
  transform: translateY(0px);
  opacity: 1;
}
#fullpage .cont03.active .btm_cont {
  transform: translateY(0px);
  opacity: 1;
}
#fullpage .cont04 {
  background: url(./images/main_visual_04.jpg) no-repeat 50% 50%;
}
#fullpage .cont04 .fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: #fff;
}
#fullpage .cont04 .fp-tableCell .txt_area {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease;
}
#fullpage .cont04 .fp-tableCell .txt_area span {
  margin-top: 20px;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.8;
}
#fullpage .cont04 .fp-tableCell .txt_area div {
  color: #fff;
  font-size: 66px;
  line-height: 76px;
  font-weight: 300;
  letter-spacing: -0.03em;
}
#fullpage .cont04 .fp-tableCell .txt_area strong {
  font-size: 66px;
  display: block;
  font-weight: bold;
}
#fullpage .cont04 .fp-tableCell .img {
  margin-top: 100px;
  transform: translateX(1000px);
  opacity: 0;
  transition: all 1s ease;
}
#fullpage .cont04 .fp-tableCell .txt {
  margin-top: 50px;
  opacity: 0.5;
  color: #fff;
  font-size: 20px;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
#fullpage .cont04 .fp-tableCell .txt strong {
  display: block;
  color: #96cc29;
}
#fullpage .cont04.active .txt_area {
  opacity: 1;
  transform: translateY(0);
}
#fullpage .cont04.active .img {
  opacity: 1;
  transform: translateX(0);
}
#fullpage .cont04.active .txt {
  opacity: 1;
  transform: translateY(0);
}